html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  margin: 0;
  height: 100%;
}

.dashboard {
  background-color: black;
  height: 100%;
}

.playlist-container {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  height: 100%;
  overflow: auto;
}