.card {
   background-color: #1e1e1e;
   margin: 50px;
   height: auto;
   width: 400px;
}

.playlist-info {
    margin: 20px;
    color: rgba(255,255,255,.87);
    text-align: center;
    overflow-wrap: break-word;
}

.playlist-img {
    width: 300px;
    height: auto;
}