.side-bar {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 15%;
    height: 100%;
    background-color: #1e1e1e;
    color: rgba(255,255,255,.87);
    overflow: auto;
}

/* .genre-wrapper {
    height: 100%;
    left: 50%;
    right: auto;
    text-align: center;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    padding-left: 15px;
    border-radius: 10px;
    margin-top: 125px;
} */

.genre-ul-title {
    color: rgba(255,255,255,.87);
    text-align: center;
}

.genre-ul {
    padding-left: 5px;
    height: 50%;
    margin-top: 20px;
}

.genre-li-container {
    margin-top: 15px;
    align-self: center;
    display: grid;
    grid-auto-flow: column;  
}

#user-library {
    margin-bottom: 25px;
}

.genre-li-img {
    width: 75px;
    height: auto;
    align-self: center;
    margin-right: 10px;
}

.genre-li-span {
    width: 100px;
    align-self: center;
    color: rgba(255,255,255,.87);
}