.card {
   background-color: #1e1e1e;
   margin: 50px;
   height: auto;
   width: 400px;
}

.playlist-info {
    margin: 20px;
    color: rgba(255,255,255,.87);
    text-align: center;
    overflow-wrap: break-word;
}

.playlist-img {
    width: 300px;
    height: auto;
}

/* 
flex shrink and flex grow could help with playlist render OR use react socks to create breakpoints that render different sized tilesa
or do it for IOS with less than 500 px. react socks can be used for iOS dev
andy uses material UI css
*/