.side-bar {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    vertical-align: top;
    width: 15%;
    height: auto;
    background-color: #1e1e1e;
    color: rgba(255,255,255,.87);
    overflow: auto;
}

/* .genre-wrapper {
    height: 100%;
    left: 50%;
    right: auto;
    text-align: center;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    padding-left: 15px;
    border-radius: 10px;
    margin-top: 125px;
} */

.genre-ul-title {
    color: rgba(255,255,255,.87);
    text-align: center;
}

.genre-ul {
    padding-left: 5px;
    height: 50%;
    margin-top: 10px;
}

.genre-li-container {
    margin-top: 5px;
    align-self: center;
    display: grid;
    grid-auto-flow: column;  
}

#user-library {
    margin-bottom: 25px;
}

.genre-li-img {
    width: 55px;
    height: auto;
    align-self: center;
    margin-right: 5px;
}

.genre-li-span {
    width: 200px;
    font-size: 15px;
    align-self: center;
    color: rgba(255,255,255,.87);
}

.recent-img {
    width: 40px;
    height: auto;
}

.recently-played-li-container{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.recently-played-ul {
    padding-left: 5px;
    height: 50%;
    margin-top: 10px;
}

.recently-played-li-span {
    align-self: center;
    color: rgba(255,255,255,.87);
}

.most-recent-info {
    text-align: left;
    margin-left: 10px;
    font-size: 12px
}

.most-recent-name {
    margin-bottom: 5px;
    font-weight: bold;
}